* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
}

.banner video {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    font-size: 28vw;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    line-height: 100vh;
    mix-blend-mode: screen;
}

.texto {
    color: white;
    text-align: center;
    font-size: 28px;
}

@keyframes fanimado {
    0% {
        background-image: 0% 50%;
    }
    50% {
        background-image: 100% 50%;
    }
    100% {
        background-image: 0% 50%;
    }
}